<mat-card class="create-report">
    <mat-card-header class="create-report-header">
        Create new expense report
    </mat-card-header>
    <mat-card-content class="create-report-form-content">
        <mat-form-field>
            <input matInput placeholder="Description">
        </mat-form-field>

        <mat-toolbar color="primary">
            <span>Report items</span>
            <span class="create-report-toolbar-spacer"></span>
            <button mat-icon-button (click)="addItem()">
                <mat-icon aria-label="Add new item">playlist_add</mat-icon>
            </button>
        </mat-toolbar>
    </mat-card-content>
</mat-card>

<button mat-raised-button color="warn" (click)="cancel()">Cancel</button>